.container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  text-align: "center";
  color: #fff;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 50%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 5px #4776e6;
}